html {
	font-size: 62.5%;
	min-height: 100%;
	position: relative;
}

article {
	max-width: 65rem;
	margin: 4rem auto;
	padding: 0 2rem 10rem;
}

body {
	font: 1.8rem/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	color: #444;
	overflow-x: hidden;
}

blockquote {
	border-left: 1rem solid rgb(243, 243, 243);
	font-style: italic;
	margin-left: 1rem;
	padding-left: 3rem;
}

code {
	font-weight: bold;
}

h1,
h2,
h3 {
	color: #153486;
	/* line-height: 1.2rem; */
	margin: 4rem 0 2rem;
}

h1 {
	font-size: 3.5rem;
}

img {
	width: 100%;
}

p {
	margin: 0.5rem 0;
}

pre {
	background-color: #2c2c2c;
	border-radius: 0.25rem;
	border: 0.1rem solid;
	color: white;
	font-family: monospace;
	font-size: 1.4rem;
	max-height: 80rem;
	overflow: auto;
	padding: 1rem;
}

pre > code {
	font-weight: 300 !important;
}

table,
th,
td {
	border-collapse: collapse;
	border: 0.1rem solid;
	padding: 0.25rem;
	text-align: left;
}

@media only screen and (max-width: 600px) {
	body {
		font-size: 1.6rem;
	}
}

/* @media (prefers-color-scheme: dark) {
	body {
		color: #ccc;
		background: black;
	}

	pre {
		border: none;
		background-color: #2c2c2c;
	}

	a:link {
		color: #5bf;
	}

	a:visited {
		color: #ccf;
	}
} */
