html {
	/* font-size: 62.5%; */
	min-height: 100%;
	position: relative;
}

body {
	margin: 0;
}

article {
	max-width: 44rem;
	margin: 2rem auto;
	padding: 0 1.2rem 15rem;
	/* font-size: 1.2rem; */
	font: 1.1rem/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	color: #444;
	overflow-x: hidden;
}

blockquote {
	border-left: 0.5rem solid rgb(239 248 255);
	font-style: italic;
	margin-left: 1rem;
	padding-left: 3rem;
}

code {
	color: green;
	font-weight: bold;
}

footer {
	bottom: 0;
	position: absolute;
	width: 100%;
}

h1,
h2,
h3 {
	color: #153486;
	margin: 2rem 0 1rem;
}

h1 {
	font-size: 2.2rem;
}

header {
	display: flex;
	padding: 2rem 12rem;
	justify-content: space-between;
	align-items: center;
}

img {
	width: 100%;
}

p {
	margin: 1.25rem 0;
}

pre {
	background-color: #03000b;
	border-radius: 0.75rem;
	border: 0.1rem solid;
	color: white;
	font-family: monospace;
	font-size: 1rem;
	max-height: 80rem;
	overflow: auto;
	padding: 1rem;
}

pre > code {
	font-weight: 300 !important;
}

table,
th,
td {
	border-collapse: collapse;
	border: 0.1rem solid;
	padding: 0.25rem;
	text-align: left;
	width: 100%;
}

@media only screen and (max-width: 600px) {
	article {
		font-size: 1rem;
	}

	header {
		padding: 0;
	}
}

/* @media (prefers-color-scheme: dark) {
	body {
		color: #ccc;
		background: black;
	}

	pre {
		border: none;
		background-color: #2c2c2c;
	}

	a:link {
		color: #5bf;
	}

	a:visited {
		color: #ccf;
	}
} */
