html {
	font-size: 62.5%;
	min-height: 100%;
	position: relative;
}

body {
	max-width: 65rem;
	margin: 4rem auto;
	padding: 0 1rem;
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	color: #444;
}

h1,
h2,
h3 {
	line-height: 1.2;
}

img {
	width: 100%;
}

p {
	margin: 0.5rem 0;
}

pre {
	border: 0.1rem solid;
	padding: 1rem;
	font-family: monospace;
	font-size: 1.4rem;
	border-radius: 0.25rem;
	color: white;
	background-color: #2c2c2c;
	max-height: 80rem;
	overflow-x: scroll;
}

table,
th,
td {
	border: 0.1rem solid;
	border-collapse: collapse;
	padding: 0.25rem;
	text-align: left;
}

@media (prefers-color-scheme: light) {
	body {
		color: #ccc;
		background: black;
	}

	pre {
		border: none;
		background-color: #2c2c2c;
	}

	a:link {
		color: #5bf;
	}

	a:visited {
		color: #ccf;
	}
}
